.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
  position: relative;
  /* height: 100%; */
}

.maxWidthWrapper {
  height: 100%;
  position: relative;
  z-index: 3;
}

.header {
  padding-bottom: 64px;
  position: relative;
  width: 65%;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  min-height: 500px;
  position: fixed;
  right: 10px;
  bottom: 20px;
  height: 90%;
}

.controlColumn {
  position: relative;
  width: 50%;
}

.decorative {
  background-color: hsl(195deg, 20%, 86%);
  position: fixed;
  height: 40%;
  width: 100%;
  bottom: 0px;
}
